
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{employees[flag].name}}</h3>
</div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4"> 
          <img class="imageClass"[src]="employees[flag].photoPath"/>
        </div>
        <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-4">  
            TYPE
              </div>
            </div> 
            <div class="col-xs-6">
              {{employees[flag].type}}
            </div>
            <div class="col-xs-6">
            </div>
            <button (click)="greetme()">Send</button>
        </div>
      </div>
    </div>
  </div> 
</div>